<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>739047447138-j14jssdedekfqtenbfchhh24b2ridrue.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.739047447138-j14jssdedekfqtenbfchhh24b2ridrue</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>739047447138-jk9pd3rd979rbvs4ind7lg9tu17qs4ou.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDpL-BxdZ2V0t6Fq0zvBsTm-qf4_O6fTXM</string>
	<key>GCM_SENDER_ID</key>
	<string>739047447138</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.essoft.ftulms.stg</string>
	<key>PROJECT_ID</key>
	<string>androidessoft-3a6f5</string>
	<key>STORAGE_BUCKET</key>
	<string>androidessoft-3a6f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:739047447138:ios:4e97958790b73290670f3b</string>
</dict>
</plist>